<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.rufflecol.lara.kittycatimagegenerator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_cat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider184845991889647"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c979dae1510dc9384a847dceff31f444dcb82e3" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--Main Activity-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--About Activity-->
        <activity
            android:name="es.rufflecol.lara.kittycatimagegenerator.AboutActivity"
            android:label="@string/about">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--Facebook Activity-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>